# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env

# Virtual Environment
venv/

# Jaseci Logs
.jaseci_logs/

# VSCode settings
.vscode/

# macOS
.DS_Store

# Python build artifacts
build/
dist/
*.egg-info/
